<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Video Control</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <% if (env === "production") { %>
    <link rel="stylesheet" href="wildsPAGE/videoControl/index.css?v=<%= version %>" />
    <% } %>
</head>
<body>
<div class="livestream-video-control">
    <div class="head-area js_header">
        <span class="js_title"></span>
    </div>
    <div class="result-area js_result"></div>
    <div class="index-area js_index"></div>
    <div class="operation-area js_operation">
        <div class="row">
            <div class="btn btn-unclick js_btn_play">PLAY</div>
            <div class="btn btn-unclick js_btn_pause">PAUSE</div>
        </div>
        <div class="row">
            <div class="btn btn-unclick js_btn_pre">PRE</div>
            <div class="btn btn-unclick js_btn_random">RANDOM</div>
            <div class="btn btn-unclick js_btn_next">NEXT</div>
        </div>
    </div>
</div>
<script src="wildsPAGE/videoControl/bundle.js?v=<%= version %>" type="text/javascript"></script>
<% if (env !== "production" && reload === true) { %>
<script src="reload/reload.js"></script>
<% } %>
</body>
</html>
